@{
    Layout = "~/Views/Shared/AdminShared.cshtml";
}


<div class="row" style="margin-top:3em">

    <div class="col-lg-7">
        <img src="~/Content/image/subBg/delete02.png" />
    </div>
    <div class="col-lg-5">
        <h1 style="color:white  ">Mobile Successfully Deleted</h1>
    </div>
</div>