@{
    Layout = "~/Views/Shared/AdminShared.cshtml";
}

<div class="row" style="margin-left:3em;margin-top:3em">
    <div class=" col-lg-7">
        <img class="img-responsive img-responsive" src="~/Content/image/Profile04.jpg" style="padding-left:3em">
    </div>
    <div class="col-lg-5">
        <h3 style="color:white">Profile Updated Successfully</h3>
    </div>
</div>
