@{
    Layout = "~/Views/Shared/AdminShared.cshtml";
}

<div class="row" style="margin-top:3em">

    <div class="col-lg-7">
        <img src="~/Content/image/phone/edge01.png" />
    </div>
    <div class="col-lg-5">
        <h1 style="color:white; margin-left:2em ">Mobile Successfully Added</h1>
    </div>
</div>
