@{
    Layout = "~/Views/Shared/AdminShared.cshtml";
}

<div class="row ">
    <div class="col-lg-7">
        <img class="img-rounded img-responsive" src="~/Content/image/subBg/Client02.jpg" style="padding-left:3em; padding-top:3em">
    </div>
    <div class="col-lg-5">
        
        <h3 style="color:white; padding-top:3em">Client Updated Successfully</h3>
        

    </div>

</div>
