

@model Term_Project.Models.User


    <div>
        <h1 style="font-family:Candara;color:white; margin-left:3em"> Welcome @(Model.FirstName) @(Model.LastName) </h1>
        <img src="~/Content/image/subBg/welcome2.jpg" class="img-rounded img-responsive" height="400" width="900" style="padding-left:3em" />
        <a href="~/Client"> <input class="btn btn-success btn-lg pull-right" style="margin-right:2em" type="submit" value="Next" /></a>
    </div>

