

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/engine2/style.css" />
    <script type="text/javascript" src="~/Content/engine2/jquery.js"></script>
    <title>AboutUs</title>
</head>
<body>
    <div class="row">
        <div class="col-lg-6">
            <img  src="~/Content/image/aboutUs01.jpg" height="300" width="1320" style="padding-top:1em;padding-left:1.5em">
        </div>
    </div>
    <div class="row" >
        <div class="col-lg-11 img-rounded "  style="margin-left:4em;width:1000px; color:lightgoldenrodyellow; margin-top:4em;background-image:url(../../Content/image/subBg/bg08.jpg)" >
            <h2>About Our Website</h2><br />
            <p style="font-size:2em">
                Mobile Arena is a website of exploring and finding new mobile technology. We keep an eye every new upcoming evolution in mobile technology. We update regularly our list of new mobiles of all companies, and also new accesseries for your phone. We try our best to keep you up to date for the new innovation.
            </p>
            <p style="font-size:2em">
                We are working to give the best to our users, and full fill all thier demands. We are trying to make our website more convinient from time to time. This website starts working in 2015.
            </p>
            

        </div>
       
    </div>
        <script type="text/javascript" src="~/Content/engine2/wowslider.js"></script>
        <script type="text/javascript" src="~/Content/engine2/script.js"></script>
</body>
</html>
