<div class="row">
    <div class="col-lg-3 " style="padding-left:3em; padding-top:3em">
        <div class="list-group">
            <a href="#" class="list-group-item active" style="font-weight:bold;font-size:large;background-color:skyblue">Catagories</a>
            <a href="#" class="list-group-item " style="font-size:large">Head Phones</a>
            <a href="#" class="list-group-item " style="font-size:large">Stylish Back</a>
            <a href="#" class="list-group-item " style="font-size:large">Back Cover</a>
           
        </div>
    </div>
</div>