


   <div class="row">
    <div class="col-lg-7">
        <img src="~/Content/image/feedback07.jpg" class="img-rounded img-responsive" style="padding-left:3em; padding-top:3em" />
    </div>
    <div>
        <h2 style="color:white;margin-top:3em">For Your Feedback.</h2>
    </div>
</div>

